---
layout: default
---

<div class="header-bar">
  <h1>saad bakht</h1>
  <h2>software engineer / gamer / tech enthusiast</h2>
  <br/>
  <hr>
  <br/>
</div>


<ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <h2><a class="post-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
        <p class="post-meta">{{ post.date | date: '%B %-d, %Y — %H:%M' }}</p>
        <p>{{ post.description }}</p>
        <br/>
        <hr/>
      </li>
    {% endfor %}
</ul>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Newer</a>
  {% else %}
    <span class="pagination-disabled previous">Newer</span>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Older</a>
  {% else %}
    <span class="pagination-disabled next">Older</span>
  {% endif %}
</div>
